@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="radio"]{
  -webkit-appearance: none;
}
input[type="radio"]:checked+label{
 background-color: #9333ea;
 color: white;
}


textarea{
  border: 2px dashed black;
}
textarea:focus { 
  outline: none;
  border-color: black;
  box-shadow: 0 0 10px purple;
}
